body {
    background-color: rgb(18, 111, 31);
}

img {
    width: 100px;
    height: auto;
}

.can-eat {
    background-color: rgb(243, 228, 11);
}

.is-eaten {
    background-color: rgb(14, 99, 226);
}
