body {
    background-color: rgb(228, 206, 13);
}

img {
    width: 100px;
    height: auto;
}

.can-eat {
    background-color: rgb(194, 106, 106);
}

.is-eaten {
    background-color: rgb(66, 58, 58);
}
